@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab:400,300,100,700);
*{
    color: #435364;
        background-color: #fffffD;
}
h2 {
  font-family: 'Pacifico', cursive;
  }

p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
.welcome{
    padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
    padding-bottom: 20%;
  width: 60%;
}
.welcome h2{
    top margin: inherit;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 55%;

}
.about_us{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}
.about_us h2{
    text-align: center;
    
    
}
.designers{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}
h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}