@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab:400,300,100,700);


@media only screen and (min-width: 600px) {

	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}


*{
    color: #435364;
    font-family: 'Roboto Slab', serif;
    
}
* h2 {
  font-family: 'Pacifico', cursive;
    text-align: center;
  }

* p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}
.welcome{
    padding-top: 5%;
  margin-left: auto;
  margin-right: auto;

  width: 60%;
}
.welcome h2{
    top margin: inherit
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 55%;

}
.about_us{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}
.about_us h2{
    text-align: center;
    
    
}
.designers{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}
#column1 {
		float: left;
    padding-right:3%
	}
   
	#column2 {
		float:left;
		width: 50%;
	}
h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
}
.upcoming_events{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}
.upcoming_events h2{
    text-align: center;
}
.upcoming_events td:nth-child(n+2) {
    text-align: center;
    font-weight: 400;
}
.upcoming_events th {
  background-color: #435364;
  color: white;
  padding: .5em;
  text-align: left;
}

.upcoming_events td:first-child {
  width: 20%;
    
}
.upcoming_events td:last-child {
  width: 60%;
 text-align: left;   
}
#section6{
    background-color: #435364;
}
#section6 iframe{
    width: 100%;
}
    
