<!DOCTYPE html>

<html lang="en-us">
  <head>
      
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
    <meta name="Barb's Bridal Boutique" content="Your perfect day - your perfect dress.">
  </head>
  <body>
       
      
      <div id="spalsh">
  <span> <img src="http://rwdkent.com/groups/assets/group1/barb.svg" style="height: 100%;" > </span>
</div>
      
<section class="window">
 <section class="welcome">
     <img src="http://rwdkent.com/groups/assets/group1/barb.svg" alt=logo>
     <h2>Scroll Down</h2>
     </section>
     </section>
<section class="window">
     <section class="about_us">
    <main>
       <h2>About Us</h2>
       	<p>Your perfect day - your perfect dress.</p>


        <p>At Barb’s Bridal Boutique, family comes first.  With four generations, from Great-Grandma Barbara to Little Olivia Rose, we know a little something about family.  That’s why we love what we do.  It is our pleasure to               help you celebrate your love.  We consider it a privilege to be included in your big day.  We take that privilege very seriously.  That attitude comes across in our approach to customer service.  We treat everyone like                family.  At Barb’s Bridal Boutique you’ll never have endure snooty salespeople or high pressure sales tactics.  We believe the quality of our merchandise speaks for itself.  When you step into our store you will be                  greeted with a warm friendly smile from experienced bridal consultants who are more than happy to answer your questions.  No matter what your budget is you will be treated with the utmost respect.  Come in and                   experience the difference.  You won’t be disappointed.</p>

        <p>Helping you find your dream dress is really just the start of our relationship! Rest assured that our extremely knowledgeable associates will walk you through the details of your purchase, explain the ordering process            and timeline, develop a pick-up plan with you, and make personal recommendations for alterations and any other necessary wedding vendors you may be seeking. We are here for you.</p>
    </main>
    </section>
    </section>
    
</section>
<section class="window"></section>
<section class="window"></section>
<section class="window"></section>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
