@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab:400,300,100,700);
*{
    color: #435364;
        background-color: #fffffD;
}
#spalsh{
    width: 98%;
    height: 100%;
    background: rgba(252, 252, 252, 0.67);
    z-index: 10000;
    position: absolute;
    margin: 0px;
    padding: 0px;
}
#spalsh span{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60px;
}
h2 {
  font-family: 'Pacifico', cursive;
  }

p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
.welcome{
    padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.welcome h2{
    top margin: inherit;
    text-align: center;
}
.about_us{
    
    padding-left: 2%;
    padding-right: 2%;
}
.about_us h2{
    text-align: center;
    
}