@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab:400,300,100,700);


	#header, #footer{
		height: 25px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

@media only screen and (min-width: 600px) {
#header #footer{
    position:fixed;}
}


	#header{
		top:0px;
        font-family: 'Roboto Slab', serif;
        padding-right: 4%
	}

/* unvisited link */
#header a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
#header a:visited {
    color: #FFD1CF;
    text-decoration: none;
}

/* mouse over link */
#header a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
#header a:active {
    color: blue;
    text-decoration: none;
}
	#footer{
		bottom:0px;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}


*{
    color: #435364;
    font-family: 'Roboto Slab', serif;
    
}
h3{
    margin: 0;
}
* h2 {
  font-family: 'Pacifico', cursive;
    text-align: center;
  }
    img{
        max-width: 100%;
    }
* p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}
.welcome{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
    background-color:white;
   padding: 5%;
}
.about_us{
    width: 70%;
    margin: 0 auto;
    
}
.about_us h2{
    text-align: center;
    
    
}

.designers{
    width: 50%;
   margin: 0 auto;
}
@media only screen and (min-width: 1200px){
    .designers img{
        float: left;
        width: 50%;
        max-width: 47%;
    }
    .designers .text{
        float: right;
            width:45%;
        
    }   
}

h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.upcoming_events{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}
table{
    width: 100%
}
.upcoming_events h2{
    text-align: center;
}
.upcoming_events td:nth-child(n+2) {
    text-align: center;
    font-weight: 400;
}
.upcoming_events th {
  background-color: #435364;
  color: white;
  padding: .5em;
  text-align: left;
}

.upcoming_events td:first-child {
  width: 20%;
    
}
.upcoming_events td:last-child {
  width: 60%;
 text-align: left;   
}


#section5{
    background-color: #435364;
}
#section5 iframe{
    width: 100%;
}
#section6{
    background-image: url(pictures/location_google_map.png);
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

